body {
  margin: 0;
  padding: 0;
}

#banner {
  width: 100%;
  height: 120pxa;
}

.principal {
  background: #cccccc;
  padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado{
  text-align: center;
}

p {
  text-align: center;
}

em strong {
  color: red;
}

/* id */
#missao {
  font-size: 20px;
}

/* classe*/
.item {
  font-style: italic;
}

.beneficios {
  background: #ffffff;
  padding: 20px;
}

ul {
    /*alinha elementos pela baseline*/
    display: inline-block;
    vertical-align: top;
    width: 30%; /*20% de largura da página*/
    margin-right: 10%;

}

.imagembeneficios {
    width: 50%;
}